$paleblue: aliceblue;
$darkpaleblue: rgb(203, 218, 245);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, .2);
}

.loading  p {
  font-size: 30px;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

.loading-animation {
  vertical-align: middle;
  width: 80px;
}

h1, h2{
  text-align: center;
  background: $darkpaleblue;
  padding: 5px 0;
}

h2 { 
  border-top: 1px solid black;
  border-bottom: 1px solid black;
 }

.back-placeholder, .back {
  background: $darkpaleblue;
  padding: 5px 15px;
}

.back {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.back:hover {
  color: teal;
}

.path {
  background: $darkpaleblue;
  padding: 8px 0 0 15px;
  font-size: 0.9em;
}

.name-wrapper { 
  text-align: center;
  padding: 20px 0;
 }

.name-input, .name-button {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

.selection {
  padding: 15px 20px;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.selection:hover { background: $paleblue; }

.subselection { 
  border-bottom: 1px solid black;
  padding: 10px;
}

.subselection:hover { background: white; }

.final-score {
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}

/* SCORES */
table {
  margin: 30px auto;
  font-size: 18px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

th {
  border: 4px solid $darkpaleblue;
  background: $paleblue;
}

td {
  border: 4px solid $darkpaleblue;
}

@media (max-width: 800px) {
  table { font-size: 14px; }
}
@media (max-width: 480px) {
  table { font-size: 12px; }
}
