$paleblue: aliceblue;
$darkpaleblue: rgb(203, 218, 245);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2{
  text-align: center;
  background: $darkpaleblue;
}

h1 { padding: 5px 0; }

.back-placeholder, .back {
  background: $darkpaleblue;
  padding: 5px 0 0 15px;
}

.back {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.back:hover {
  color: teal;
}

.path {
  background: $darkpaleblue;
  padding: 8px 0 0 15px;
}

.selection {
  padding: 15px 20px;
  font-size: 20px;
  border-top: 1px solid black;
}

.selection:hover { background: $paleblue; }

.subselection { 
  border-top: 1px solid black;
  padding: 10px;
}

.subselection:hover { background: white; }

.final-score {
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}

table {
  margin: 30px auto;
  font-size: 18px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

th {
  padding: 12px 15px;
  border: 4px solid $darkpaleblue;
  background: $paleblue;
}

td {
  padding: 8px 15px;
  border: 4px solid $darkpaleblue;
}
